<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="items"></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge>{{count}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div *ngFor="let item of cart">
    <ion-button expand="full">
      {{item.name}}
    </ion-button>
  </div>

</ion-content>
